/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/dist/material-design-icons.css";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($app-theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

// Theme customization
@import "theme/theme";

.grid {
  display: grid;
  grid-gap: 20px;

  &.form {
    grid-template-columns: repeat(auto-fill, minmax(496px, 1fr));
  }

  &.function {
    justify-content: end;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.m-1 {
  margin: 1em;
}
.mt-1 {
  margin-top: 1em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.ml-1 {
  margin-left: 1em;
}
